.DS_Store
PHASE_1/API_SourceCode/scraper/stocks/.DS_Store
PHASE_1/.DS_Store
PHASE_1/API_SourceCode/.DS_Store
PHASE_1/API_SourceCode/scraper/.DS_Store
PHASE_1/API_SourceCode/scraper/promedscraper/.DS_Store
PHASE_2/.DS_Store
