body {
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 1.25rem;
}

svg:focus {
  outline: none !important;
}

path:focus {
  outline: none !important;
}

svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: -100px;
  right: -100px;
  margin: -100px;
  height: 100vh;
}
