body {
  margin: 0;
  background: offwhite;
}

html {
  font-family: sans-serif;
  font-size: 1.25rem;
}

svg:focus {
  outline: none !important;
}

path:focus {
  outline: none !important;
}

svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  /* left: -100px;
  right: -100px; */
  margin: -100px;
  height: 100vh;
}

.darkMode {
  background: black;
  color: white !important;
}

.darkMode .css-yafthl-MuiSlider-markLabel {
  color: white !important;
}

.darkMode .css-1eoe787-MuiSlider-markLabel {
  color: white !important;
}

.darkMode .css-1gjgmky-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped {
  border: 1px solid white;
  background: white;
}
